title = @title.blank?? "我在蔚县" : title
meta name='description' content='免费发布您的信息，免费开启本地O2O商店'
meta name='keywords' content='蔚县　蔚县信息'
meta name='keywords' content='蔚县生活'
meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta name='viewport' content='width=device-width, initial-scale=1.0'
meta property='wb:webmaster' content="78e9f2e1c609997f"
