
body{
    padding-top:80px;
    #background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

.home-container{
   min-height:650px;
}

.item{
  padding-left:5px;
  padding-right:5px;

  .thumbnail{
    margin-bottom:10px;
  }
}

.my-dropdown{
  span{
      color: #eea236;
  }
}