
@import "compass";

$global-font-family: 'Microsoft YaHei','微软雅黑',Tahoma, Arial,'Helvetica Neue', Helvetica,sans-serif,'宋体';
$global-font-size: 14px;


@mixin global-font {
  font-family: $global-font-family;
  font-size: $global-font-size;
}

.favorite-btn{
  @include border-radius(15px);
}

.favorite-span{
  padding: 5px 8px;
}
.favorite-heart{
  color: #FF0000;
}

body{
    @include global-font;
    padding-top:80px;
    #background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

.home-container{
   min-height:650px;
}

.item{
  padding-left:5px;
  padding-right:5px;

  .thumbnail{
    # background-color: #E6E6FA;
    background-color:#f7f7f9;
    margin-bottom:10px;
  }
}

.my-dropdown{
  span{
      color: #eea236;
  }
}

.footer{
   padding-bottom:15px;
}