
.information-contact{
   ul{
      li{
        list-style-type:none;
        padding-left:10px;
        padding-right:10px;
        line-height:60px;
        height: 60px;

        i{
          margin-top:10px;
        }
      }
   }

   #margin-top:40px;
   font-size: 17px;
   .contact-label{
      width: 90px;
   }
   .contact-info{
      padding-top:7px;
   }
   #line-height: 50px;
   dl{
     dt{
       #font-color: #fff;
       height:40px;
     }
     dd{
        height:40px;
     }
   }
   .price{

      font-wight: 700;
      font-size: 24px;
   }
}