<p>你好 <%= @resource.email %>!</p>

<p>您已经触发修改密码，请点击如下连接修改密码。</p>

<p><%= link_to '更改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如不是本人操作或误操作请忽略此邮件。</p>
<p>只有点击连接修改密码后，您的密码才会更改</p>
